<main>
    <app-cabecalho></app-cabecalho>
    <section class="cadastro">
        <div class="login-container d-flex align-items-center justify-content-center min-vh-100">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" />
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" />
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Telefone" />
            </div>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </section>
    <app-rodape></app-rodape>
</main>