<main>
    <app-cabecalho></app-cabecalho>
    <section class="sobre">
        <img src="/img/200.jpg" alt="">
        <div class="texto">
            <h2>Kurogane</h2>
            <h5>Leonam Sales</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur dictum hendrerit erat et interdum.
                Nunc dui turpis, porta in massa in, aliquet malesuada ipsum.
                Aenean a libero arcu. Nam bibendum libero quis varius pulvinar.
                Cras ultrices scelerisque eros et lobortis. Nulla facilisi.
                Phasellus dapibus molestie neque, non feugiat enim vulputate ac.
                Etiam id vulputate turpis.
            </p>
            <a href="">Bluesky</a>
            <a href="">Email</a>
        </div>
    </section>
    <app-rodape></app-rodape>
</main>