.sobre {
    min-height: 80vh;
}

.layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 5% 0;
}

.layout img {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: self-start;
    margin-top: 10px;
    margin-left: 10px;
}

.texto {
    padding: 0 20px;
    width: 50%;
}

.follow {
    font-weight: bold;
    font-size: large;
}

.texto a{
    padding: 10px;
    font-weight: bold;
}

.imagens img {
    width: 25%;
}


@media only screen and (max-width: 600px) {
    .layout {
        flex-direction: column;
    }

    .layout img {
        width: 150px;
        height: 150px;
        margin: 0;
        align-self: center;
        margin-bottom: 30px;
    }

    .texto {
        width: 100%;
    }

    .texto h2, h5 {
        text-align: center;
        margin-bottom: 20px;
    }

    .texto p {
        text-align: justify;
    }
}