<main>
    <app-cabecalho></app-cabecalho>
    <section class="sobre">

        <div class="layout">
            <img src="/img/logo.png" alt="Kurogane">
            <div class="texto">
                <h2>Kurogane</h2>
                <h5>Leonam Sales</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur dictum hendrerit erat et interdum.
                    Nunc dui turpis, porta in massa in, aliquet malesuada ipsum.
                    Aenean a libero arcu. Nam bibendum libero quis varius pulvinar.
                    Cras ultrices scelerisque eros et lobortis. Nulla facilisi.
                    Phasellus dapibus molestie neque, non feugiat enim vulputate ac.
                    Etiam id vulputate turpis.
                </p>
                <p class="follow">Follow:</p>
                <a href="https://bsky.app/profile/kurogane.bsky.social">Bluesky</a>
                <a href="https://www.behance.net/kuroganeryuu1">Behance</a>
            </div>
        </div>
        <div class="imagens">
            <img src="/img/kurogane01.jpg" alt="Kurogane">
            <img src="/img/kurogane02.jpg" alt="Kurogane">
            <img src="/img/kurogane03.jpg" alt="Kurogane">
            <img src="/img/kurogane04.jpg" alt="Kurogane">
        </div>
    </section>
    <app-rodape></app-rodape>
</main>