.cabecalho {
    background-color: var(--cor-de-fundo-secundaria);
    color: black;
}

.botao-menu  {
    color: #0d6efd;
}

.menu a {
    padding: 10px;
    font-size: large;
}

.navbar-brand img {
    width: 50px;
}

.cabecalho a:hover {
    cursor: pointer;

}

.menu a:hover {
    animation-name: animacao;
    animation-duration: 6s;
}
