.carrossel {
  min-height: 80vh;
}

.carrossel-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .carrossel {
    display: none;
  }

  .carrossel-mobile {
    display: block;
  }
}
