<main>
    <app-cabecalho></app-cabecalho>
    <section class="galeria">
        <div class="card" style="width: 18rem">
            <img src="/img/sunset.jpg">
            <div class="card-body">
                <h5 class="card-title">Sunset</h5>
            </div>
            <div class="card-body">
                <a href="https://bsky.app/profile/kurogane.bsky.social/post/3lhhh52tfvs27" 
                class="card-link">Bluesky</a>
            </div>
        </div>
    </section>
    <app-rodape></app-rodape>
</main>