<section class="cabecalho">
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a (click)="onHome()" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/img/logo.png" alt="logo">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 menu">
        <li><a (click)="onGaleria()" class="nav-link px-2">Galeria</a></li>
        <li><a (click)="onSobre()" class="nav-link px-2">Sobre</a></li>
        <li><a (click)="onContato()" class="nav-link px-2">Contato</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <ng-container *ngIf="isLoggedIn$ | async; else naoLogado">

          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-link text-decoration-none p-0" id="dropdownUser" ngbDropdownToggle>
              <img src="/img/logo.png" alt="Avatar do usuário" class="rounded-circle me-2"
                style="width: 40px; height: 40px; object-fit: cover;">
              <span class="d-none d-md-inline text-dark">Olá, Admin!</span>
            </button>

            <div ngbDropdownMenu aria-labelledby="dropdownUser" class="dropdown-menu-user">

              <a ngbDropdownItem (click)="onUserpage()" class="d-flex align-items-center">
                <mat-icon class="me-2">grid_view</mat-icon> Dashboard
              </a>
              <a ngbDropdownItem (click)="onUserpage()" class="d-flex align-items-center">
                <mat-icon class="me-2">receipt_long</mat-icon> Meus Pedidos
              </a>
              <a ngbDropdownItem (click)="onUserpage()" class="d-flex align-items-center">
                <mat-icon class="me-2">account_circle</mat-icon> Minha Conta
              </a>

              <div class="dropdown-divider"></div>

              <a ngbDropdownItem (click)="onLogout()" class="d-flex align-items-center text-danger">
                <mat-icon class="me-2">exit_to_app</mat-icon> Sair
              </a>
            </div>
          </div>
        </ng-container>

        <ng-template #naoLogado>
          <button type="button" (click)="onLogin()" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" (click)="onCadastro()" class="btn btn-primary">Cadastro</button>
        </ng-template>
      </div>
    </header>
  </div>
</section>