.cabecalho {
    background-color: aliceblue;
    color: black;
}

.botao-menu  {
    color: #0d6efd;
}

.menu a {
    padding: 10px;
    font-size: large;
}

.navbar-brand img {
    width: 50px;
}

.cabecalho a:hover {
    cursor: pointer;

}

.menu a:hover {
    animation-name: animacao;
    animation-duration: 6s;
}

@keyframes animacao {
    from {
        background-color: white;
    }

    to {
        background-color: aliceblue;
    }
}
