<section class="cabecalho shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-md py-3">
      <div class="container-fluid">
        <a routerLink="/home" class="navbar-brand d-inline-flex">
          <img src="/img/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-end flex-grow-1 mb-2 mb-md-0">
            <li class="nav-item">
              <a routerLink="/galeria" class="nav-link px-3 text-primary">Gallery</a>
            </li>
            <li class="nav-item">
              <a routerLink="/sobre" class="nav-link px-3 text-primary">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
