<main>
    <app-cabecalho></app-cabecalho>
    <section class="sobre">
        <div class="layout">
            <img src="/img/logo.png" alt="Kurogane">
            <div class="texto">
                <h2>Kurogane</h2>
                <h5>Leonam Sales</h5>
                <p>Sou um ilustrador e designer iniciante, apaixonado por transformar ideias em visuais cativantes. 
                    Cada projeto é uma nova oportunidade para explorar cores, formas e narrativas, 
                    buscando sempre um toque único e autêntico. 
                    Estou animado para aplicar minha criatividade e habilidades em design para dar vida às suas visões, 
                    combinando técnica e sensibilidade para entregar resultados que realmente se destacam.
                </p>
                <p class="follow">Conecte-se:</p>
                <a href="https://bsky.app/profile/kurogane.bsky.social">Bluesky</a>
                <a href="https://www.behance.net/kuroganeryuu1">Behance</a>
            </div>
        </div>
        <div class="imagens">
            <img src="/img/kurogane01.jpg" alt="Kurogane">
            <img src="/img/kurogane02.jpg" alt="Kurogane">
            <img src="/img/kurogane03.jpg" alt="Kurogane">
            <img src="/img/kurogane04.jpg" alt="Kurogane">
        </div>
    </section>
    <app-rodape></app-rodape>
</main>