<main>
    <app-cabecalho></app-cabecalho>
    <section class="sobre">
        <div class="container">
            <div class="layout">
                <img src="/img/logo.png" alt="Kurogane">
                <div class="texto">
                    <h2>Kurogane</h2>
                    <p>Begginer artist. I like to draw what I see.
                    </p>
                    <p class="follow">Follow:
                        <a href="https://bsky.app/profile/kurogane.bsky.social">Bluesky</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="imagens">
            <img src="/img/kurogane01.jpg" alt="Kurogane Branco">
            <img src="/img/kurogane02.jpg" alt="Kurogane Verde">
            <img src="/img/kurogane03.jpg" alt="Kurogane Azul">
            <img src="/img/kurogane04.jpg" alt="Kurogane Amarelo">
        </div>
    </section>
    <app-rodape></app-rodape>
</main>