<main>
    <app-cabecalho></app-cabecalho>
    <section class="login">
        <div class="card-login">
            <div class="login-container d-flex align-items-center justify-content-center min-vh-100">
                <div class="card login-card shadow-lg p-4 p-md-5">
                    <div class="text-center mb-4">
                        <img src="/img/logo.png" alt="logo" class="logo mb-2">
                        <h2 class="titulo">Faça seu login</h2>
                    </div>
                    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                        <div class="mb-3">
                            <label for="email" class="form-label visually-hidden">Email</label>
                            <input type="email" class="form-control form-control-lg" id="email" placeholder="Email"
                                name="email" [(ngModel)]="loginData.email" required email #emailField="ngModel"
                                [ngClass]="{'is-invalid': emailField.invalid && (emailField.dirty || emailField.touched)}">
                            @if(emailField.invalid && (emailField.dirty || emailField.touched)) {
                            <div class="invalid-feedback">
                                @if(emailField.errors?.['required']) {
                                <div>Digite seu Email.</div>
                                }
                                @if(emailField.errors?.['email']) {
                                <div>Insira um Email válido.</div>
                                }
                            </div>
                            }
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label visually-hidden">Senha</label>
                            <div class="input-group input-group-lg">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                                    placeholder="Senha" name="password" [(ngModel)]="loginData.password" required
                                    minlength="6" #passwordField="ngModel"
                                    [ngClass]="{'is-invalid': passwordField.invalid && (passwordField.dirty || passwordField.touched)}">
                                <button class="btn btn-outline-secondary" type="button"
                                    (click)="togglePasswordVisibility()">
                                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                                @if(passwordField.invalid && (passwordField.dirty || passwordField.touched)) {
                                <div class="invalid-feedback">
                                    @if(passwordField.errors?.['required']) {
                                    <div>Digite sua senha.</div>
                                    }
                                    @if(passwordField.errors?.['minlength']) {
                                    <div>A senha deve ter no mínimo 6 dígitos.</div>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        @if(loginError) {
                        <div class="mensagem-erro alert alert-danger text-center mb-3">
                            Usuário ou senha inválidos <mat-icon matSuffix>error</mat-icon>
                        </div>
                        }
                        <button type="submit" class="btn btn-primary btn-lg w-100 mb-3" [disabled]="loginForm.invalid">
                            Entrar
                        </button>
                        <hr class="my-4">
                        <p>Não possui login?</p>
                        <button class="btn btn-outline-secondary btn-lg w-100 mb-3" (click)="onCadastro()">
                            Cadastre-se
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <app-rodape></app-rodape>
</main>