.privacidade {
    margin: 0 10%;
}

#sidebar {
  padding: 1rem;
  border-right: 1px solid #dee2e6; 
  height: calc(100vh - 40px); 
  overflow-y: auto; 

  .nav-link {
    padding: 0.5rem 0;
    transition: all 0.2s ease-in-out; 
    &.active,
    &:hover {
      color: var(--bs-primary) !important; 
      font-weight: bold;
    }
  }
}

@media (max-width: 767.98px) {
  #sidebar {
    position: static !important; 
    height: auto !important;
    border-right: none;
    border-bottom: 1px solid #dee2e6; 
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

section {
  padding-top: 60px; 
  margin-top: -60px;
}