<main>
    <app-cabecalho></app-cabecalho>
    <section class="userpage">
        <section class="container py-5">
            @if(message) {
            <div class="popup-message popup-{{messageType}}">
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{ message }}</span>
                    <button type="button" class="btn-close" (click)="message=''" aria-label="Close"></button>
                </div>
            </div>
            }
            <ul class="nav nav-tabs justify-content-center mb-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="servicos" routerLinkActive="active" type="button">Fazer Pedido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pedidos" routerLinkActive="active" type="button">Meus Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="dados" routerLinkActive="active" type="button">Minhas
                        Informações</a>
                </li>
                @if(isAdmin$ | async) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="painel-admin" routerLinkActive="active" type="button">Painel
                        Admin</a>
                </li>
                }
            </ul>
            <router-outlet></router-outlet>
        </section>
    </section>
    <app-rodape></app-rodape>
</main>