* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo-secundaria: aliceblue;
    --cor-principal: aliceblue;
}

html,
body {
    height: 100%;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex-grow: 1;
    background-color: var(--cor-principal);
}

a, button {
  transition: all 0.3s ease-in-out;
}

@keyframes animacao {
    from {
        background-color: white;
    }

    to {
        background-color: var(--cor-de-fundo-secundaria);
    }
}