.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: white;
    background-color: var(--cor-de-fundo-secundaria);
}

.rodape .nav-item a:hover {
    cursor: pointer;
    animation-name: animacao;
    animation-duration: 6s;
}
