.userpage {
    text-align: center;
}

.table {
    --bs-table-bg: #fff;
    --bs-table-striped-bg: #f2f2f2; 
    --bs-table-hover-bg: #e9ecef; 
    --bs-table-border-color: #dee2e6; 
    color: #212529; 
}
