<main>
    <app-cabecalho></app-cabecalho>
    <section class="carrossel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/img/zamtrios.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/img/ciy.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/img/beach.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rodape></app-rodape>
</main>