<main>
  <app-cabecalho></app-cabecalho>
  <section class="gallery-container">
    <div class="swiper swiper-main">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/img/city.png" alt="Honda City Turbo II" />
        </div>
        <div class="swiper-slide">
          <img src="/img/beach.png" alt="Beach" />
        </div>
        <div class="swiper-slide">
          <img src="/img/zamtrios.png" alt="Zamtrios" />
        </div>
        </div>
    </div>
    <div class="swiper swiper-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/img/city.png" alt="Miniatura Honda City" />
        </div>
        <div class="swiper-slide">
          <img src="/img/beach.png" alt="Miniatura Beach" />
        </div>
        <div class="swiper-slide">
          <img src="/img/zamtrios.png" alt="Miniatura Zamtrios" />
        </div>
         </div>
    </div>
  </section>
  <app-rodape></app-rodape>
</main>